<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<!-- DB접속정보 값을 가지고 있는 파일 설정 -->
	<properties resource="db.properties" />

	<!-- Java Class에 대한 alias 지정 -->
	<typeAliases>
		<typeAlias type="com.strawpoll.app.dto.PollInfo" alias="PollInfo" />
		<typeAlias type="com.strawpoll.app.dto.PollItem" alias="PollItem" />
	</typeAliases>
	
	<!-- Mapper 파일 include -->
	<mappers>
		<mapper resource="PollMapper.xml" />
		<mapper resource="PollItemMapper.xml" />
	</mappers>
	
</configuration>
